#education .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  gap: 1rem;
  margin-bottom: 1rem;
}

#education .row .fieldGroup {
  width: calc(33.33333% - 0.5rem);
}

#education .row button {
  flex-grow: 0;
}