.page {
  /* Styles for better appearance on screens only -- are reset to defaults in print styles later */
	/* Reflect the paper width in the screen rendering (must match size from @page rule) */
	width: 21cm;
	/* Reflect the paper height in the screen rendering (must match size from @page rule) */
	min-height: 29.7cm;

	/* Reflect the actual page margin/padding on paper in the screen rendering (must match margin from @page rule) */
	padding-left: 0cm;
	padding-top: 0cm;
	padding-right: 0cm;
	padding-bottom: 2cm;
}

@page {
	/* You can only change the size, margins, orphans, widows and page breaks here */

	/* Paper size and page orientation */
	size: A4 portrait;

	/* Margin per single side of the page */
	margin-left: 0cm;
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 2cm;
}

.page {
  background-color: var(--color-background);
  color: var(--color-font);
}

.resume * {
  line-height: 0.75cm;
}

.resume h1,
.resume h2,
.resume h3,
.resume h4 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 700;
  margin: 0;
}

/* Header Personal Info */
.header-resume.personal-info {
  background-color: var(--color-font);
  color: var(--color-background);
  padding-top: 1cm;
  padding-bottom: 1cm;
  margin-bottom: 1cm;
  position: relative;
}

.header-resume.personal-info h1 {
  font-size: 36pt;
  line-height: 1;
  margin-bottom: 0.5cm;
}

.header-resume.personal-info .info {
  margin-right: 1cm;
  display: inline-flex;
  gap: 0.25cm;
}

.header-resume.personal-info .info:last-of-type {
  margin-right: 0;
}

/* Sections Resume */
.section-resume {
  padding-left: 1.5cm;
  margin-bottom: 2cm;
  float: left;
  position: relative;
}

.section-resume .edit-btn {
  top: 0;
  border: 0;
  right: 0;
}

.section-resume ul {
  padding: 0;
  list-style: none;
}

.section-resume h2 {
  font-size: 18pt;
  text-align: left;
  border-bottom: 0.15cm solid var(--color-font);
}

.section-resume ul li {
  margin-bottom: 0.5cm;
  text-align: left;
  padding-bottom: 0.45cm;
  border-bottom: 0.05cm solid var(--color-font);
}

.section-resume ul li:last-of-type {
  border-bottom: none;
}

.section-resume ul li h3 {
  font-size: 14pt;
  margin: 0;
}

.section-resume ul li h4 {
  font-size: 12pt;
  margin: 0;
}

.section-resume ul li p {
  margin: 0;
  font-size: 10pt;
}

.section-resume.education {
  width: 5cm;
}

.section-resume.experience {
  width: 12cm;
  padding-left: 1cm;
}
